@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 17px;
}

.column25 {
    width: 25%;
    float: left;
}

.titulo1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0%;
}
.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacio {
    padding: 5%;
    background-color: white;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.azul {
    background-color: aqua;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.lila{
    background-color: purple;
}

.column50 {
    width: 50%;
    float: left;
    background-color: gray;
}

.titulo2 {
    text-align: center;
    font-size: 3rem;
    margin: 0%;
}


.gall {
    width: 100%;
    padding: 2%;
    display: block;
}

.titulo3 {
    margin: 0%;
    text-align: center;
    font-size: 2.8rem;
}



.card {
    border-radius: 8px;
    margin-left: 7%;
    margin-bottom: 0%;
    margin-right: 7%;
    margin-top: 0%;
    background-color: white;
}

.tcard {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1%;
}

.imgcard {
    width: 100%;
    height: 35vh;
    object-fit: cover; /* hace que la imagen no se vea borrosa */
}

.textcard {
    padding-left: 7%;
    padding-right: 7%;
    text-align: justify;
    font-size: 0.8rem;
    line-height:150%;
    margin-bottom: 5%;
}

.textl {
    font-size: 0.9rem;
    text-align: center;
}
.loca {
    text-decoration: none;
    display:inline-block; /* EL margen no va si no pongo esto */
    margin-bottom: 5%; /* Añade un pequeño espacio debajo */
}

.maps{
    clear: both;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.mapa {
    width: 100%;
    height: 60vh;
}

.column25s {
    width: 25%;
    float: left;
    background-color: aqua;
}

.noticia {
    margin-bottom: 5%;
    padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 2%;
    
}

.textn {
    font-size: 0.9rem;
    text-align: center;
    background-color:#0d6efd;
    border-radius: 8px;
    padding: 5%;
    

}

.notiweb {
    text-decoration: none;
    color: white;
}

.amplio {
    font-size: 0.9rem;

}

.tn {
    margin-left: 2%;
    margin-right: 2%;
}